.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
}

form,
input,
select,
button {
  margin: 10px;
}

input,
select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

.error {
  color: red;
}

.resultado {
  text-align: left;
  background: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  color: #000;
  width: 80%;
  max-width: 600px;
  margin-top: 20px;
}

.sugestoes {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  background: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
}

.sugestoes li {
  padding: 10px;
  cursor: pointer;
}

.sugestoes li:hover {
  background: #f0f0f0;
}